html {
  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  background-image: url("images/experience-page.jpg");
  background-size: cover;
  color: white;
}

#header {
  display: flex;
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
}

#links {
  margin-top: 1em;
  margin-bottom: 1em;
}

#links a {
  text-decoration: none;
  color: black;
}

#links a:visited {
  text-decoration: none;
  color: black;
}

button {
  font-size: 1.5rem;
}

#experience-title {
  text-align: center;
  margin-bottom: 3%;
  text-decoration-line: underline;
}

#experience-container {
  padding-left: 20%;
  width: 60%;
}

#education-experience > h3 {
  padding-top: 2%;
}

.title {
  margin: 0;
}

#footer {
  display: flex;
  justify-content: space-between;
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: center;
  color: rgba(185, 186, 187, 0.5);
}

.social {
  font-size: 25px;
}

.social a {
  color: white;
}

.websites {
  text-decoration: none;
  color: white;
}

.websites:hover {
  text-decoration-line: underline;
  color: #0a66c2;
}

nav a:hover {
  color: #0a66c2;
}

.logo {
  width: 1.5%;
}

@media screen and (max-width: 1024px) {
  #links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  footer {
    font-size: 1rem;
  }

  .logo {
    width: 2%;
  }
}

@media screen and (max-width: 480px) {
  #links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    width: 5%;
  }

  footer {
    font-size: 1rem;
  }

  #experience-container {
    width: 100%;
    padding-left: 1%;
  }
}
