html {
    font-size: 62.5%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    background-color: RGB(55, 66, 88);
    color: white;
    /* background: url(./images/laptop-table.jpg); */
    /* background-image: url(./images/laptop-table.jpg); */
}

#header {
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
}

#links {
    margin-top: 1em;
    margin-bottom: 1em;
}

#links a{
    text-decoration: none;
    color:rebeccapurple;
}

#links a:visited {
    text-decoration: none;
    color: rebeccapurple;
}

#laptop-pic img{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.statement {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    position: relative;
    margin: 0;
    line-height: 1em;
    padding: 1.5em;
    /* background: #39454b; */
    /* color: rgba(185, 186, 187, 0.5); */
    overflow: hidden;
}